<html layout:decorate="~{default/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>
    <div layout:fragment="content">
        <div class="main-content-inner">
            <div class="page-content">
                <div class="management clearfix">
                    <div class="management_bac"></div>
                    <div class="management_text">
                        <div class="management_text_x">
                            <p>在这里，我们追求价值与客户价值共同成长，让客户尽情享受信息新生活</p>
                            <p>我们的目标是做世界级综合信息服务提供商。用户至上，用心服务</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>