<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">添加文档</h4>
</div>
<form id="docForm" method="post" class="form-horizontal" action="/industry/document_save">

    <div class="modal-body">

        <div class="form-group">
            <label class="col-lg-3 control-label">请选择文档</label>
            <div class="col-lg-5">
                <input type="file" class="form-control" name="docName" multiple="multiple" accept="application/msword,application/pdf,text/plain,application/vnd.ms-powerpoint"/>
            </div>
        </div>

        <!--<div class="form-group">
            <label class="col-lg-3 control-label">文档名称</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" name="name"/>
            </div>
        </div>-->

        <div class="form-group">
            <label class="col-lg-3 control-label">文档类型</label>
            <div class="col-lg-5">
                <select class="form-control" name="type">
                    <option th:each="docType:${docTypes}" th:value="${docType.id}" th:text="${docType.name}" ></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">文档备注</label>
            <div class="col-lg-5">
                <textarea type="text" class="form-control" name="remark"></textarea>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn btn-primary">保存</button>
    </div>

</form>

<style type="text/css">
    .w-e-text {
        padding: 0 10px;
        overflow-y: scroll;
        width: 100% !important;
        height: 180px !important;
    }
    .w-e-text-container {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        width: 100% !important;
        height: 180px !important;
    }
</style>

<script type="text/javascript" src="/wangEditor/release/wangEditor.min.js"></script>
<script th:inline="javascript">


    $("#docForm").bootstrapValidator({
        live: 'disabled',//验证时机，enabled是内容有变化就验证（默认），disabled和submitted是提交再验证
        excluded: [':disabled', ':hidden', ':not(:visible)'],//排除无需验证的控件，比如被禁用的或者被隐藏的
        //submitButtons: '#btn-test',//指定提交按钮，如果验证失败则变成disabled，但我没试成功，反而加了这句话非submit按钮也会提交到action指定页面
        message: '通用的验证失败消息',//好像从来没出现过
        feedbackIcons: {//根据验证结果显示的各种图标
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
           /* name: {
                validators: {
                    notEmpty: {//检测非空,radio也可用
                        message: '文档名称不能为空'
                    }
                }
            },*/
            docName: {
                validators: {
                    notEmpty: {//检测非空,radio也可用
                        message: '上传的文件能为空'
                    }
                }
            }
        }
    })

    $('#docForm').on('success.form.bv', function(e) {
        // 阻止默认提交事件
        e.preventDefault();

        var $form = $(e.target);


        var formdata = new FormData();
        formdata.append("docName", $("#docForm [name='docName']")[0].files[0]);
       /* formdata.append("name", $("#docForm [name='name']").val());*/
        formdata.append("type", $("#docForm [name='type'] option:selected").val());
        formdata.append("remark", $("#docForm [name='remark']").val());


        console.log(formdata);

        $.ajax({
            url : $form.attr('action'),
            type : "post",
            data : formdata,
            dataType : 'json',
            cache : false,//上传文件无需缓存
            processData : false,//用于对data参数进行序列化处理 这里必须false
            contentType : false, //必须
            success : function (result) {
                if(result.type == "alert"){
                    alert(result.message);
                }
                $("#modal").modal("hide");
                //刷新跳转至第一页
                // $("#dataTable").bootstrapTable("selectPage",1).bootstrapTable("refresh");
                $("#dataTable").bootstrapTable("selectPage",1);
            },
            error : function () {
                console.log("error")
            }
        });
    });
</script>