<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">新增新闻资讯</h4>
</div>

<form id="defaultForm" method="post" class="form-horizontal" action="/industry/news_information_save">

    <div class="modal-body">
        <div class="form-group">
            <label class="col-lg-3 control-label">新闻标题:</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" name="name" id="name" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">新闻分类:</label>
            <div class="col-lg-5">
                <select class="form-control" name="type" id = "type">
                    <option value="">请选择分类</option>
                    <option th:each="parameter:${parameters}" th:value="${parameter.id}" th:text="${parameter.name}" ></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">新闻内容:</label>
        </div>
        <div class="form-group">
            <div id="content" name="content" style="height:200px">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn btn-primary">保存</button>
    </div>
</form>

<style type="text/css">
    .w-e-text {
        padding: 0 10px;
        overflow-y: scroll;
        width: 100% !important;
        height: 180px !important;
    }
    .w-e-text-container {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        width: 100% !important;
        height: 180px !important;
    }
</style>

<script type="text/javascript" src="/wangEditor/release/wangEditor.min.js"></script>
<link rel="stylesheet" media="screen" type="text/css" href="/colorpicker/css/jquery.bigcolorpicker.css" />
<script type="text/javascript" src="/colorpicker/js/jquery.bigcolorpicker.min.js"></script>
<script th:inline="javascript">

    var E = window.wangEditor;
    var newsEditor = new E('#content');         //新闻内容
    newsEditor.create();

    $("#defaultForm").bootstrapValidator('addField','name',{
        validators: {
            notEmpty: {
                message: '新闻标题不能为空'
            }
        }
    });

    $("#defaultForm").bootstrapValidator('addField','type',{
        validators: {
            notEmpty: {
                message: '新闻分类不能为空'
            }
        }
    });

    $('#defaultForm').on('success.form.bv', function(e) {
        // 阻止默认提交事件
        e.preventDefault();

        var $form = $(e.target);

        var name = $('#name').val();
        var type = $('#type option:selected').val();
        var content = newsEditor.txt.html();

        $.ajax({
            url : $form.attr('action'),
            type : "post",
            data : {
                'name':name,
                'type':type,
                'content':content
            },
            dataType : 'json',
            cache : false,//上传文件无需缓存
//            processData : false,//用于对data参数进行序列化处理 这里必须false
//            contentType : false, //必须
            success : function (result) {
                if(result.type == "success"){
                    alert(result.message);
                }
                //隐藏弹出框
                $("#modal").modal("hide");
                //刷新跳转至第一页
                // $("#dataTable").bootstrapTable("selectPage",1).bootstrapTable("refresh");
                $("#dataTable").bootstrapTable("selectPage",1);
            },
            error : function () {
                console.log("error")
            }
        });
    });

</script>