body{ font-family:"微软雅黑",'Arial Normal', 'Arial' !important; font-size:14px;}
h1,h2,h3,h4,h5,h6,h7,h8,h9,p,a{ font-family:"微软雅黑",'Arial Normal', 'Arial' !important;}
a{
    text-decoration:none;
}

.height-h2{
  line-height: 1.2;
}

/*----------------------------------头部css---------------------*/
.div1200{
    margin:0 auto;width:1200px;
}

.paddi10{
    padding:10px;
}

.sytop1{
    background: #49494b;height:60px;position: relative;
}

.sytop2{
    float: left;
    height: 60px;
    width: 180px;
}

.sytop2 .img_logo{
    height: 30px;
    width: 180px;
    background: url('../images/中国电信.png') no-repeat 0px;
    background-position:center;
    background-size:121px 30px;
}
.sytop2 .font_logo{
    text-align: center;
    font-size: 15px;
    color: white;
    font-family: "微软雅黑", 'Arial Normal', 'Arial';
    font-weight:700;
}

/*.sytop2{*/
    /*float: left;*/
    /*height: 60px;*/
    /*width: 250px;*/
    /*background: url('../images/logo3.png') no-repeat 0px;*/
/*}*/
.us_role{
    float:right;
    margin-top:10px;
}

.home-title{
    z-index: 200;position: absolute;top:50px;left:240px;width:300px;height:300px;text-align: left;
}

.home-a{
    line-height: 42px;
    text-decoration:none;
}

.home-a:hover{
    box-sizing: border-box ;
    border-bottom: 2px solid white;
}

.nav-mycss{
    float: right;padding-bottom: 20px;padding-top:0px;
}

.nav-mycss >li{
    float:left;
    line-height: 58px;
    padding: 0 20px;
    padding-bottom:5px;
}
.nav-mycss li>a{
    font-size: 16px !important;
    padding:0;
    padding-bottom: 10px;
    color: white;
	font-family:"微软雅黑";
}

.syhhe-f-pro{
    width:1200px;
    height: auto;
    background:rgba(22,22,22,.9);
    margin:0 auto;
    color:white;

}

.syhhe-f-pro-left {
    float: left;
}

.syhhe-f-pro-left-content {
    display: flex;
}

.syhhe-f-pro-right {
    float: right;
}

.pro-menu {

}

.pro-ul{
    font-size: 15px;
    margin: 0 0 0 0;
}

.pro-ul li {
    font-size: 15px;
    margin: 0 0 0 0;
}

.syhhe{
    width:100%;background:rgba(22,22,22,.9);opacity:0.9;position: absolute;top:60px;left:0px;z-index: 300;
}
.syhhe-f{
    width:1200px;height: 400px;margin:0 auto;
    color:white;
}
.w3-myfont16{
    font-size: 16px !important;
}
ol, ul {
    list-style: none;
    margin:0;
}

.home-t{
    width:100%;
    background: #10336b
}
.home-banner{
    height: 400px;
    border:1px solid #10336b;
    position: relative;
    width:100%;
    margin: auto;
}

.home-bannerg{height: 520px !important;}

.home-banner-contact{
    height: 200px;
    border:1px solid #10336b;
    position: relative;
    width:1520px;
    margin: auto;
}
.home-banner-list{
    margin: 0;
}
.home-banner-change{
    z-index: 100;
    position: absolute;
    top:350px;
    left: 45%;
    margin-left: -70px;
    bottom: 30px;
}
.home-banner-change li {
    cursor:pointer;
    display: inline-block;
    width: 50px;
    height: 6px;
    float: left;
    //border-radius: 50%;
    background: #555;
    margin: 0 5px;
    overflow: hidden;
    text-indent: -1000px;
}
.home-banner-change .on{
    background: #169bd5;
}
.syhhe ol{
    padding-left: 0;
}
.lunboli{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 400px
}

.a-lun{
    display: block;
    width: 1520px;
    height: 400px;
    margin: 0 auto;
}


/*---------------- 主页样式------------------*/
.home-title-btnd{
    height:40px;padding-left:10px;
}

.i-home-left{
    height: 1.5px;
    background: #dedede;
    width: 100px;
    position: absolute;
    left: 400px;
    top: 30px;
    display: inline-block;
}

.i-right{
    left:700px;
}

.home-af img:hover{
    width:180px;
    margin-left:-6px;
    margin-top:-6px;
}

.home-jk li{
    width:240px;
    margin:10px;
}

.home-jk-d{
    width:240px;height:310px;float:left;margin:60px 10px;
    overflow: hidden;
    border:5px solid transparent;
    border-radius:10px;
}

.home-jk-d:hover{
    border:2px solid pink;
}

.home-main-jk{
    position: absolute;
    z-index: 100;
    display: none;
    border:3px solid transparent;
    margin:10px;
    width:350px;
    height:450px;
    border-radius:15px;
}
.home-main-jk:hover{
    border:2px solid pink;
}
.on-show{
    display:block !important;
}

.yin-ad{
    width:540px;
    border:5px solid transparent;
    border-radius:15px;

}
.yin-ad:hover{
    border:2px solid transparent;
    border-radius:15px;
    overflow: hidden;
}

.solve{
    margin:50px 0 0 0;height:350px;float:left;width:300px;position: relative; margin-right:50px;
}

.prev{
    display: block;
    position: absolute;
    top: 300px;
    left: 5px;
    width: 40px;
    height: 40px;
    z-index: 1000;
    /*background: url(images/btns.png) no-repeat;*/
}

.next{
    display: block;
    position: absolute;
    top: 300px;
    left: 60px;
    width: 40px;
    height: 40px;
}

.jk-a{
    display: none;

}

.jk-b img,.jk-a img{
    border-radius:10px;
    border:2px solid transparent;
}

.jk-a img:hover,.jk-b img:hover{
    border-radius:10px;
    border:1px solid pink;
}
/*-----------------------------------------------------*/
.mh80{
    min-height: 80px;
}
.ma-wtop40{
    margin:40px 0;
}
.home-topm{
    border-bottom:1.5px solid #dedede;
    background:#4a5c63;
}
.div600{
    margin:0 auto;
    width:600px;
    height:50px;
}
.div500{
    margin:0 auto;
    width:600px;
}
.div600 div{
    line-height: 50px;
	color:#fff;
}


.ex-marg5{
    margin:5px;
}
.ex-pl{
    width:330px;
    border:1px solid #dedede;
}
.ex-btop{
    height:3px;
    background:#150650;
}
.margin-tm{
    margin-top:50px;
    margin-bottom: 50px;
}
.ex-con li{
    float:left;
    margin:20px;
}

.ex-con li:hover{
    color:orange;
}

.new-home-left{
    float:left;
    width:760px;
}

.new-info-left li{
    /*border-bottom:1.5px dashed #dedede;*/
    padding:5px;
    margin:20px;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    padding-top: 0;
}
.new-bor-tt{
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
.new-info-br{
    float:left;
    background:#1a9bd4;
    width:8px;
    height: 100px;
}
.new-info-f{
    /*border-left: 8px solid #1a9bd4;*/
    padding-left: 40px;
}
.new-info-f h3{

    padding:20px;
    padding-left: 0;
    margin: 0;
}
.bott-bor{
    border-bottom: 1.5px dashed #dedede;
    padding-bottom: 30px;
}
.new-home-left ul li img{
    border:10px solid #dedede;
}

.new-home-left ul li img:hover{
    width:125px;
}

.new-info-left{
    margin:0;
    border:1px solid #dedede;
    border-left:0;
    padding:0;
}

.new-home-left-top{
    height:200px;
    overflow: hidden;
}
.tx-h80{
    /*line-height: 60px;*/
}
.new-home-right{
    float:right;
    width:430px;
}
.new-home-right li{
    height:220px;
    margin:20px;
}
.bar-div3{
    border:2px solid transparent;
}
.bar-div3 img:hover{

    width:385px;
}

.error{
    color:red;
    background: #ffd6cc;
}
/*--------------------------------------------------*/
/*-----------------------底部样式-------------------*/

.footer-main{
    width:100%;
    background: #49494b;
	padding-top:20px;
}

.footer-main-1{
    height: 200px;
	color:#fff;
    /*background:#dedede;*/
}

.footer-main-1-a{
    float:left;
    width:150px;
    height:150px;
    /*background:url('/portal/images/footw.png');*/
    background-size:100%;
    margin:20px;
}

.footer-main-2{
    background:#323232;height: 30px;
}

.fixed-bo{
    width:50px;
    height:50px;
    background: #169bd5;
    opacity: 0.7;
    position: fixed;
    left: 90%;
    top: 80%;
    z-index: 100;
    border-radius:10px;
	color:#fff;
	font-size:24px;
	text-align:center;
    /*padding-left: 10px;*/
}

.ptop20{
    padding-top: 20px;
}
.h120{
    height: 120px;
    padding:20px 0;
}

.doc-info{
    text-indent: 20px;
    line-height: 30px;
    border-bottom:1px solid #dedede;
}

.w3-pagination a,.w3-pagination span {
    text-decoration: none;
    color: #000;
    float: left;
    padding: 8px 16px;
}
.w3-pagination a:hover{
    background: #f1f1f1;
}

.solve-c{
    padding:20px 0;
}
.bj-jj{
    background: #f5f5f5;
}

.myp span{
    padding:20px;
}

.myfont12{
    font-size: 14px;
    line-height: 1.5em;
    margin: 0px 10px !important;
    padding: 0 10px !important;
}
.myfont12> a{
    margin: 10px 10px !important;
    padding:5px 15px !important;
    color: #a6a6a6 !important;
    border: 1px #a6a6a6 solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
}
.myfont12 a:hover{
    color:#2196F3 !important;
    border-color: #2196F3 !important;
    border: 1px #a6a6a6 solid !important;
}

.checked-li{
    background:rgba(0, 0, 0, .4);
    border-left:5px #2196F3 solid;
    text-indent:1em;
}

.solu_header li{
    float:left;
    padding:5px 20px;
}


/*.solu_header li a:hover{*/
    /*border:0;*/
    /*color:greenyellow;*/
/*}*/

.new-info-f h3:hover{
    color:orange;
}

.pros-siz{
    text-indent: 3px;
    font-size: 12px;
}

.h-contact{
    font-size: 36px;
    color: #fff;
    text-align: center;
    padding-top: 70px;
    letter-spacing: 6px;
}

.dn-container{
    min-width: 1200px;
    max-width: 1200px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.jd-s{
    padding-bottom: 50px;
}

.dn-row {
    margin-right: -10px;
    margin-left: -10px;
}

.dn-col-xs-24 {
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    min-height: 1px;
}

.dn-col-sm-12 {
    float: left;
    width: 50%;
}

.box{
    margin-bottom: 20px;
    text-align: center;
}

.box-l{
    width: 60px;
    display: inline-block;
    position: relative;
    top: 6px;
    margin-left: 30px;
}

.box-r{
    display: inline-block;
    text-align: left;
    margin-left: 10px;
}

.title{
    font-size: 20px;
    color: #65696d;
    line-height: 18px;
    padding-bottom: 11px;
}

.txt{
    font-size: 14px;
    color: #979ea2;
    line-height: 14px;
    padding-bottom: 16px;
}

.w3-blue, .w3-hover-blue:hover{ border-radius:3px; font-size:14px;}
.dv_top a{ margin:2px 2px 0 2px; font-size:14px !important; font-family:"微软雅黑";}
.in_box1{ font-family:'Arial Normal', 'Arial'; font-size:14px; border-right:1px #156185 solid; height:90px !important; margin-top:20px;}
.in_box2{ font-family:'Arial Normal', 'Arial'; font-size:14px; height:90px !important; margin-top:20px;}
.index_banb{ background:rgba(0,0,0,.2); position:absolute;  height: 120px; margin:-120px auto 0 auto; width:100%;}
.index_banb .index_band{height: 120px;width:1520px!important; font-family:"微软雅黑",'Arial Normal', 'Arial' !important;}
.index_banb .index_band h3,.index_banb .index_band p{ padding: 0; margin: 0 0 0 20px; color:#ecf7ff; text-align:left;}
.index_banb .index_band h3{ margin-top: 12px}
.c_hui{ color:#444; font-size:30px;}
.index_bt{ margin:50px 0;}
.index_bt h1{ margin: 0;}
.index_bt h4{ text-align:center; color:#c5c5c5; margin:0; line-height: 20px;}
.bghui{ background:#f5f5f5; padding:15px 0; margin:10px 0;}
.box_1200{width:1200px;margin:0 auto;height: 500px; overflow:hidden; position: relative;}
.dash-service-cloud[_ngcontent-c1]{ height:134px !important; background-color:rgba(0,0,0,.5) !important; margin-top: 1px; border-right: 1px #5c5c5c solid}
.dash-cloud-label[_ngcontent-c1]{ float:left; margin-top:56px;}
.dash-cloud-i[_ngcontent-c1]{ float:left; margin-top: 34px !important;}
.text_bgh{ background:#f5f5f5; padding:10px 0;}
.text_t1{ color:#333;}
.text_t1 h2{color:#333; margin-top:20px;}
.text_t1 h3{color:#444444;}
.text_t1 p{ line-height:24px;}
.w3-navbar li a{ color: #fff !important;}




