<html layout:decorate="~{portalDefault/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>
    <div layout:fragment="content">

        <div class="home-banner-contact" style="background: url(/image/contact.png)top center no-repeat;height: 200px;width: 100%;background-size: 100% 100%">
        </div>
        <section class="w3-container margin-tm">
            <div class="" style="background: #fff;">
                <div class="dn-container jd-s">
                    <h1 class="w3-center">联系方式</h1>
                    <div>
                        <ul>
                            <li class="w3-row" style="font-size: 16px" th:each="contz : ${conts}">
                                <label class="w3-col s3">&nbsp;</label>
                                <label class="w3-col s2" style="text-align: right;padding-right: 20px" th:text="${contz.name}+':'"></label>
                                <label class="w3-col s7" th:text="${contz.remark}"></label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>