<html layout:decorate="~{portalDefault/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content">
    <div class="home-t">
        <div class="home-banner">
            <div class="home-title">
                <div style="height: 240px;padding-left:10px">
                    <h2 th:utext="${case.title}" style="color: white">商品的标题</h2>
                    <p th:utext="${case.description}" style="color: white">商品的一句话简介Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient monte</p>
                </div>
                <div class="home-title-btnd">
                    <a class="w3-btn w3-hover-khaki w3-blue" th:href="${'/html/consult?type=3&id=' + case.id}">立即咨询</a>
                </div>
            </div>
           <!-- <ul class="home-banner-change">
                <li class="">1</li>
                <li class="">2</li>
                <li class="">3</li>
                <li class="on">4</li>
                <li>5</li>
            </ul>-->
            <ul class="home-banner-list">
                <li class="lunboli">
                    <!--<a style="height: 400px;background:url('/portal/images/d-bj.png');display: block;"></a>-->
                    <a style="height: 400px;display: block;width: 1520px;text-align:center">
                        <img th:src="${paHttp.remark+case.pictureUrl}" height="400"/>
                    </a>
                </li>

              <!--  <li class="lunboli">
                    <a style="height: 400px;background:url('/portal/images/d-bj.png');display: block;"></a>
                </li>
                <li class="lunboli">
                    <a style="height: 400px;background:url('/portal/images/d-bj2.png');display: block;"></a>
                </li>
                <li class="lunboli">
                    <a style="height: 400px;background:url('/portal/images/d-bj3.png');display: block;"></a>
                </li>-->
            </ul>
        </div>
    </div>
    <section class="margin-tm">

        <div class="solve-c">
            <div id="p_service" class="div1200">
                <div style="text-align: center;margin: 0 0 60px;"><h2 class="div1200">公司信息</h2></div>
                <div th:utext="${case.companyInformation}">
                </div>
            </div>
        </div>
        <div class="solve-c bj-jj">
            <div id="p_info" class="div1200">
                <div style="text-align: center;margin: 0 0 60px;"><h2 class="div1200">案例问题</h2></div>
                <div th:utext="${case.caseQuestion}">
                </div>
            </div>
        </div>

        <div class="solve-c">
            <div id="p_scheme" class="div1200">
                <div style="text-align: center;margin: 0 0 60px;"><h2 class="div1200">使用方案或产品</h2></div>
                <div th:utext="${case.userScheme}">
                </div>
            </div>
        </div>
        <div class="solve-c bj-jj">
            <div id="p_specification" class="div1200">
                <div style="text-align: center;margin: 0 0 60px;"><h2 class="div1200">应用效果</h2></div>
                <div th:utext="${case.solution}">
                </div>
            </div>
        </div>
    </section>
    <script>
        $(function(){
            add_top();

            /*导航js*/
            $(".nav-mycss li").on({
                mouseover : function(){
                    $(this).find(".syhhe").show();
                } ,
                mouseout : function(){
                    $(this).find(".syhhe").hide();
                }
            });
            /*轮播图大图js*/
            $(".home-banner").slide({
                titCell: ".home-banner-change",
                mainCell: ".home-banner-list",
                effect: "fold",
                autoPlay: true,
                autoPage: true,
                trigger: "click"
            });



        })
    </script>
</div>
</body>
</html>