<html layout:decorate="~{portalDefault/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content">
    <div class="home-t" th:style="'background:'+${produce.pictureBackground}">
        <div class="home-banner">
            <div class="home-title">
                <div style="height: 240px;padding-left:10px"  class="w3-text-sand">
                    <h2 th:text="${produce.title}">商品的标题</h2>
                    <p th:text="${produce.description}">商品的一句话简介Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient monte</p>
                </div>
                <div class="home-title-btnd">
                    <a id="operate" class="w3-btn w3-hover-khaki w3-blue" th:href="${'/html/consult?type=1&id=' + produce.id}">立即咨询</a>
                </div>
            </div>
           <!-- <ul class="home-banner-change">
                <li class="">1</li>
                <li class="">2</li>
                <li class="">3</li>
                <li class="on">4</li>
                <li>5</li>
            </ul>-->
            <ul class="home-banner-list">
                <li class="lunboli">
                    <!--<a style="height: 400px;background:url('/portal/images/d-bj.png');display: block;"></a>-->
                    <a class="a-lun" style="text-align: center">
                        <img th:src="${paHttp.remark+produce.pictureUrl}" height="400"/>
                    </a>
                </li>
               <!-- <li class="lunboli">
                    <a style="height: 400px;background:url('/portal/images/d-bj2.png');display: block;"></a>
                </li>
                <li class="lunboli">
                    <a style="height: 400px;background:url('/portal/images/d-bj3.png');display: block;"></a>
                </li>-->
            </ul>
        </div>
    </div>
        <div class="home-topm">
            <div class="div600 w3-row">
                <div class="w3-col s3 w3-center">
                    <a href="#p_service" style="color:#fff">提供服务</a>
                </div>
                <div class="w3-col s3 w3-center">
                    <a href="#p_info" style="color:#fff">商品说明</a>
                </div>
                <div class="w3-col s3 w3-center">
                    <a href="#p_scheme" style="color:#fff">解决方案</a>
                </div>
                <div class="w3-col s3 w3-center">
                    <a href="#p_specification" style="color:#fff">商品规格</a>
                </div>
            </div>
        </div>
        <section class="text_t1"><!-- class="w3-container"-->
            <div class=""><!--div1200-->
                <div id="p_service" class="mh80 ma-wtop40">
                    <div style="text-align: center;margin: 0 0 60px;"><h2 class="div1200">提供服务</h2></div>
                    <div class="div1200" th:utext="${produce.overview}">
                    </div>
                </div>
                <div id="p_info" class="mh80 ma-wtop40  text_bgh">
                    <div style="text-align: center;margin: 0 0 60px;"><h2 class="div1200">产品说明</h2></div>
                    <div class="div1200" th:utext="${produce.explanation}">
                    </div>
                </div>
                <div id="p_scheme" class="mh80 ma-wtop40">
                    <div style="text-align: center;margin: 0 0 60px;"><h2 class="div1200">解决方案</h2></div>
                    <div class="div1200" th:utext="${produce.advantage}">
                    </div>
                </div>
                <div id="p_specification" class="mh80 ma-wtop40 text_bgh">
                    <div style="text-align: center;margin: 0 0 60px;"><h2 class="div1200">商品规格</h2></div>
                    <div class=" div1200" th:utext="${produce.specification}">
                    </div>
                </div>
            </div>
        </section>
    <script>
        $(function(){
            add_top();

                /*导航js*/
                // $(".nav-mycss li").on({
                //     mouseover : function(){
                //         $(this).find(".syhhe").show();
                //     } ,
                //     mouseout : function(){
                //         $(this).find(".syhhe").hide();
                //     }
                // });
                /*轮播图大图js*/
               /* $(".home-banner").slide({
                    titCell: ".home-banner-change",
                    mainCell: ".home-banner-list",
                    effect: "fold",
                    autoPlay: true,
                    autoPage: true,
                    trigger: "click"
                });
                */
            /**
             * 导航滚动事件
             */
            $(window).scroll( function() {
                var topNum=document.documentElement.scrollTop;
                if(topNum>455){
                    $(".home-topm").addClass("w3-top");
                }else{
                    $(".home-topm").removeClass("w3-top");
                };


            });

        })
    </script>
    </div>
    </body>
</html>